[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
endstop_pin: P1.29
position_endstop: 231
position_max: 231
#position_min: -5
homing_speed: 50.0


[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
endstop_pin: P1.28
position_endstop: 221
position_max: 221
position_min: -1
homing_speed: 50.0


[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 240
homing_speed: 20.0

[stepper_z1]
step_pin: P1.15
dir_pin: P1.14
enable_pin: !P1.16
microsteps: 16
rotation_distance: 8
#homing_speed: 20.0

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
gear_ratio: 50:17
microsteps: 16
#step_distance: 0.00187977781
full_steps_per_rotation: 200
rotation_distance: 22.67
pressure_advance = 0.02
pressure_advance_smooth_time: 0.040
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: P2.7
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: P0.24
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 270
max_extrude_cross_section: 80 # default 0.640
min_extrude_temp: 0
max_extrude_only_distance: 100.0

###############################
##         TMC2209
###############################

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.7
hold_current: 0.6
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.7
hold_current: 0.6
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.7
hold_current: 0.5
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: P1.1
run_current: 0.7
hold_current: 0.5
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: P1.4
#microsteps: 16
run_current: 0.65
hold_current: 0.5
#_threshold: 999999
#interpolate: True


###############################
##       PROBE
###############################
[probe]
pin: ^P0.10
x_offset: 0
y_offset: 19.75
#z_offset: 6.42
speed: 7
samples:3 
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.01
samples_tolerance_retries: 3


###############################
##       Z Tilt
###############################

[z_tilt]
z_positions:19, 87
             196, 87
points: 19, 87
        196, 87
speed: 150
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.0075

###############################
##       Bed Mesh
###############################

[bed_mesh]
speed: 150
horizontal_move_z: 20
mesh_min: 10,20
mesh_max: 205,210  # y 210 para fazer bed mesh. 175 para uso normal
probe_count: 5,5

###############################
##       Extruder
###############################

[verify_heater extruder]
max_error: 200
check_gain_time: 30

###############################
##       Bed
###############################

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

###############################
##       Fan
###############################

[fan]
pin: P2.3

###############################
##       Mcu
###############################

[mcu]

serial: /dev/serial/by-id/usb-Klipper_lpc1769_16300101A68C3CAF92E7705CC32000F5-if00
restart_method: command

###############################
##       Printer
###############################

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 2500
#max_accel_to_decel: 10000
max_z_velocity: 15
max_z_accel: 20
square_corner_velocity: 5.0

###############################
##       Input Shaper
###############################
[input_shaper]
shaper_freq_x: 125
shaper_freq_y: 45
shaper_type: mzv
#shaper_type_x: 2hump_ei
#shaper_type_y: ei
###############################
##         Temp. Raspberry
###############################
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

###############################
##         Temp. SKR
###############################
#[temperature_sensor mcu_temp]
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 100

#####################################################################
# 	Displays
#####################################################################

## 	For the mini12864 Display, the [display] and [neopixel] must be uncommented

[display]
##	mini12864 LCD Display
lcd_type: uc1701
cs_pin: P1.18
a0_pin: P1.19
encoder_pins: ^P3.25,^P3.26
click_pin: ^!P0.28
contrast: 63

[neopixel fysetc_mini12864]
pin: P1.21
chain_count: 3
color_order: RGB
initial_RED: 0.11
initial_GREEN: 0.42
initial_BLUE: 0.45

#[delayed_gcode set_displaytemp_timer]
#initial_duration: 10
#gcode:
#    SET_LED_TEMPERATURES
 #   UPDATE_DELAYED_GCODE ID=set_displaytemp_timer DURATION=1



[virtual_sdcard]
path:  /home/pi/printer_data/gcodes

[display_status]

[include klicky-variables.cfg]

[include ./klicky-macros.cfg]

[pause_resume]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 15.301
#*# pid_ki = 0.567
#*# pid_kd = 103.279
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.166
#*# pid_ki = 2.711
#*# pid_kd = 467.024
#*# z_offset = 0.500
#*#
#*# [probe]
#*# z_offset = 7.100